<div class="row-fluid">
    <div class="span10 offset2">
        <a class="btn btn-info btn-force-refresh pull-right" href="#"><i class="icon-refresh"></i> Refresh</a>
    </div>
    <div class="span12"></div>
    <div class="offset3 span6 well well-large">
        <form class="control-group">
            <select data-bind="options: series, optionsText: 'name', value: selectedSeriesItem, optionsCaption: 'Choose Series...'"/>
        </form>
        <form class="control-group">

        </form>
    </div>
</div>